/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #f7f7f7;
  padding: 20px;
}

.horizontal-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

.cart-icon img {
  width: 30px;
  height: auto;
  vertical-align: middle;
}

.cart-icon span {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px;
  font-size: 12px;
}

section {
  padding: 20px;
  background-color: white; /* Background color set to white */
  border: 4px solid #ffcc00; /* Yellow border */
  border-radius: 15px; /* Rounded corners */
  margin-bottom: 20px; /* Spacing between sections */
}

h2 {
  margin-bottom: 20px;
}

.horizontal-menu {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 0 -10px; /* Negative margin to counteract the padding of menu items */
}

.menu-item {
  flex: 0 0 auto;
  padding: 0 10px; /* Add padding between menu items */
  background-color: #ffffcc; /* Light yellow background */
  border: 2px solid #ffcc00; /* Yellow border */
  border-radius: 10px; /* Rounded corners */
  margin-right: 20px; /* Spacing between menu items */
}

.menu-item img {
  width: 100%;
  height: auto;
}

.menu-item h3 {
  margin-top: 10px;
}

.menu-item button {
  background-color: #ff5733;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

.menu-item button:hover {
  background-color: #e64c00;
}
